---
import { services } from "../../constants/services";
import { ServiceCard } from "./ServiceCard";
---

<section id="services" class="flex flex-col gap-20 p-10 md:p-16 min-h-dvh opacity-0 transition-opacity duration-1000">
  <h2
    class="text-6xl bg-[linear-gradient(to_right,var(--tw-gradient-from),var(--tw-gradient-from)_40%,var(--tw-gradient-to)_80%,var(--tw-gradient-to)_100%)] from-primary to-secondary text-transparent bg-clip-text text-center font-bold"
  >
    Nuestros servicios
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-5 items-stretch align-middle">
    {services.map((service) => <ServiceCard service={service} client:only/>)}
  </div>
</section>

<!-- ANIMATION FADE IN -->
<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const el = document.getElementById("services");
    if (el) {
      const observer = new IntersectionObserver(
        ([entry]) => {
          if (entry.isIntersecting) {
            el.classList.add("opacity-100");
            observer.disconnect();
          }
        },
        { threshold: 0.1 }
      );
      observer.observe(el);
    }
  });
</script>