---
const images = [
  "/images/portada/portada.avif",
  "/images/portada/portada.avif",
  "/images/portada/portada.avif",
];
---

<section
  id="galery"
  class="bg-primary max-md:py-10 md:p-20 flex flex-col gap-16 opacity-0 transition-opacity duration-1000"
>
  <h2 class="text-white text-5xl md:text-6xl text-center font-bold text-shadow">
    Nuestro trabajo
  </h2>

  <sl-carousel pagination navigation mouse-dragging loop autoplay>
    {
      images.map((src: string, idx: number) => (
        <sl-carousel-item key={idx}>
          <img
            src={src}
            alt={`Slide ${idx + 1}`}
            loading="lazy"
            class="w-full h-auto object-cover"
          />
        </sl-carousel-item>
      ))
    }
  </sl-carousel>
</section>

<script
  is:inline
  type="module"
  src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/components/carousel/carousel.js"
></script>
