---
import { Image } from "astro:assets";

const images = [
  "/images/galery/1.avif",
  "/images/galery/2.avif",
  "/images/galery/3.avif",
  "/images/galery/4.avif",
  "/images/galery/5.avif",
  "/images/galery/6.avif",
  "/images/galery/7.avif",
  "/images/galery/8.avif",
];
---

<section
  id="galery"
  class="bg-primary max-md:py-10 md:p-20 flex flex-col gap-16 opacity-0 transition-opacity duration-1000"
>
  <h2 class="text-white text-5xl md:text-6xl text-center font-bold text-shadow">
    Nuestro trabajo
  </h2>

  <sl-carousel pagination navigation mouse-dragging loop autoplay class="galery-carousel">
    {
      images.map((src: string, idx: number) => (
        <sl-carousel-item key={idx}>
          <Image
            src={src}
            alt={`Trabajo de enderezado de chasis realizado por Banco de Prueba Juan - Imagen ${idx + 1}`}
            loading="lazy"
            class="w-full h-auto object-cover"
            width={1920}
            height={1080}
          />
        </sl-carousel-item>
      ))
    }
  </sl-carousel>
</section>

<style>
  /* Ocultar la navegación en pantallas pequeñas (menos de 768px) */
  @media (max-width: 767px) {
    .galery-carousel::part(navigation-button) {
      display: none !important;
    }
  }
</style>

<script
  is:inline
  type="module"
  src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/components/carousel/carousel.js"
/>
