@import "tailwindcss";

@theme inline {
  --color-primary: #0e1a2f;
  --color-secondary: #e6332a;
  --color-tertiary: #4f4f4f;
}

html {
  font-family: sans-serif;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) transparent;
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}


.custom-scrollbar {
}

.btn-1 {
  @apply bg-primary border border-primary text-white rounded-xl px-10 py-2 cursor-pointer hover:brightness-75 transition-all duration-200 shadow shadow-primary active:scale-[98%] active:shadow-none;
}

.btn-2 {
  @apply border-2 border-secondary text-secondary rounded-xl px-10 py-2 cursor-pointer hover:bg-secondary/10 transition-all duration-200 shadow shadow-secondary active:scale-[98%] active:shadow-none;
}

.btn-3 {
  @apply bg-secondary border border-secondary text-white rounded-xl px-10 py-2 cursor-pointer hover:brightness-90 transition-all duration-200 shadow shadow-primary active:scale-[98%] active:shadow-none;
}

.menu-item {
  @apply hover:text-secondary transition-all duration-200 max-md:text-2xl;
}

.text-shadow {
  text-shadow: 2px 2px 8px;
}

sl-dialog::part(panel) {
  border-radius: 20px;
}

/* ANIMATION SCROLL REVEAL */

#experience,
#galery,
#cta,
#customers {
  animation-name: scroll-reveal;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-timeline: view();
  animation-range: entry 30% cover 35%;
  scroll-margin-top: 50vh;
}

@keyframes scroll-reveal {
  0% {
    opacity: 0;
    translate: 0 20vh;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

.prose h2{
  font-size: 1.5rem;
  font-weight: 600;
}

.prose ul{
  list-style-type: disc;
  padding-left: 1.5rem;
}

.prose blockquote {
  border-left: 4px solid var(--color-secondary);
  padding-left: 1rem;
  color: var(--color-tertiary);
}