@import "tailwindcss";

@theme inline{
    --color-primary: #0E1A2F;
    --color-secondary: #E6332A;
    --color-tertiary: #4F4F4F; 
}

.btn-1{
    @apply bg-primary border border-primary text-white rounded-xl px-10 py-2 cursor-pointer hover:opacity-80 transition-all duration-200 shadow shadow-primary active:scale-[98%] active:shadow-none
}

.btn-2{
    @apply border-2 border-secondary text-secondary rounded-xl px-10 py-2 cursor-pointer hover:bg-secondary/10 transition-all duration-200 shadow shadow-secondary active:scale-[98%] active:shadow-none
}

@media (max-width: 600px) {
  .drawer--end .drawer__panel {
    width: 100vw !important;
  }
}

