@import "tailwindcss";

@theme inline{
    --color-primary: #0E1A2F;
    --color-secondary: #E6332A;
    --color-tertiary: #4F4F4F; 
}

html{
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.btn-1{
    @apply bg-primary border border-primary text-white rounded-xl px-10 py-2 cursor-pointer hover:brightness-75 transition-all duration-200 shadow shadow-primary active:scale-[98%] active:shadow-none
}

.btn-2{
    @apply border-2 border-secondary text-secondary rounded-xl px-10 py-2 cursor-pointer hover:bg-secondary/10 transition-all duration-200 shadow shadow-secondary active:scale-[98%] active:shadow-none
}

.btn-3{
    @apply bg-secondary border border-secondary text-white rounded-xl px-10 py-2 cursor-pointer hover:brightness-90 transition-all duration-200 shadow shadow-primary active:scale-[98%] active:shadow-none
}

.menu-item{
    @apply hover:text-secondary transition-all duration-200 max-md:text-2xl
}

.text-shadow {
  text-shadow: 2px 2px 8px;
}

sl-dialog::part(panel) {
  border-radius: 20px;
}

@media (max-width: 600px) {
  .drawer--end .drawer__panel {
    width: 100vw !important;
  }
}

/* ANIMATION SCROLL REVEAL */

#experience,
#blog,
#galery,
#cta,
#customers {
  animation-name: scroll-reveal;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-timeline: view();
  animation-range: entry 30% cover 35%;
  scroll-margin-top: 50vh;
}

@keyframes scroll-reveal {
  0% {
    opacity: 0;
    translate: 0 20vh;
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}

