---
import { Star } from "../../assets/icons";

const { customer } = Astro.props;
---

<div
  class="rounded-2xl flex flex-col gap-5 p-5 text-center justify-start bg-gradient-to-bl from-primary/70 to-tertiary/50 shadow-lg shadow-tertiary"
>
  <div>
    <p class="font-semibold text-lg text-white">{customer.name}</p>
    <div class="text-yellow-400 flex justify-center items-center">
      {Array.from({ length: 5 }).map(() => <Star />)}
    </div>
  </div>
  <p class="italic text-white">{`"${customer.comment}"`}</p>
</div>
