---
import { Mision, Values, Vision, WhoWeAre } from "../assets/icons";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section id="about-us">
    <!-- Header -->
    <div
      class="relative w-full h-96 bg-cover bg-center bg-no-repeat flex items-center justify-center bg-[url('/images/portada/portada.avif')]"
    >
      <div class="absolute inset-0 bg-black/40"></div>
      <h1
        class="relative z-10 text-4xl md:text-6xl font-bold text-white text-center text-shadow"
      >
        Sobre Nosotros
      </h1>
    </div>

    <div id="content-container" class="p-10">
      <!-- Quienes somos -->
      <div
        class="rounded-2xl shadow-lg text-primary p-5 bg-gradient-to-br from-30% from-slate-200 via-70% via-white to-tertiary/40 mb-10"
      >
        <h2 class="text-3xl font-bold mb-10 flex gap-5 items-center">
          <span>¿Quienes somos?</span>
          <div class="rounded-full bg-gradient-to-tl from-primary/20 via-60% via-white to-primary/20 p-2 shadow-lg">
            <WhoWeAre size={50} />
          </div>
        </h2>
        <p>
          Somos una empresa del sector automotriz fundada en el eje cafetero
          colombiano en el año 2010, especializada en la reparación de vehículos
          livianos en el Área de enderezado y estética de chasis para alineación
          y peritaje. Nos enfocamos en servir de manera ágil y eficiente a todos
          nuestros clientes y brindarles con honestidad y transparencia la mejor
          garantía en cada reparación.
        </p>
      </div>

      <!-- Mision y vision -->
      <div class="flex max-md:flex-col gap-10">
        <div
          class="rounded-2xl shadow-lg text-primary p-5 bg-gradient-to-br from-30% from-slate-200 via-70% via-white to-tertiary/40 w-full"
        >
          <h2 class="text-3xl font-bold mb-10 flex gap-5 items-center">
          <span>Misión</span>
          <div class="rounded-full bg-gradient-to-tl from-primary/20 via-60% via-white to-primary/20 p-2 shadow-lg">
            <Mision size={50} />
          </div>
        </h2>
          <p>
            Brindar soluciones efectivas y accesibles a nuestros clientes en la
            reparación de chasís y estructura interna de vehículos, con calidad,
            honestidad y garantía.
          </p>
        </div>

        <div
          class="rounded-2xl shadow-lg p-5 bg-gradient-to-br from-30% from-slate-200 via-70% via-white to-tertiary/40 w-full"
        >
          <h2 class="text-3xl font-bold mb-10 flex gap-5 items-center">
          <span>Visión</span>
          <div class="rounded-full bg-gradient-to-tl from-primary/20 via-60% via-white to-primary/20 p-2 shadow-lg">
            <Vision size={50} />
          </div>
        </h2>
          <p>
            Ser la mejor opción del eje cafetero en reparación, alineación y
            rectificación de chasis y estructura en fallas de peritaje y
            alineación de vehículos.
          </p>
        </div>
      </div>

      <!-- Valores -->

      <div
        class="rounded-2xl shadow-lg text-primary p-5 bg-gradient-to-br from-30% from-slate-200 via-70% via-white to-tertiary/40 mt-10"
      >
        <h2 class="text-3xl font-bold mb-10 flex gap-5 items-center">
          <span>Valores de nuestra empresa</span>
          <div class="rounded-full bg-gradient-to-tl from-primary/20 via-60% via-white to-primary/20 p-2 shadow-lg">
            <Values size={50} />
          </div>
        </h2>
        <p>
          En <strong>Banco de Prueba Juan</strong>, nos guiamos por principios
          sólidos que reflejan nuestro compromiso con nuestros clientes,
          colaboradores y la sociedad. Estos valores son la base de cada
          decisión y acción que tomamos:
          <br />
          <br />
          <p>
            <strong>Honestidad</strong>
            <br /> Actuamos con transparencia y coherencia en todo lo que hacemos.
            Creemos que la confianza se construye con integridad, cumpliendo siempre
            nuestras promesas.
          </p>
          <br />
          <p>
            <strong>Calidad</strong>
            <br /> Nos esforzamos por ofrecer productos y servicios que superen las
            expectativas. Cada detalle cuenta, y trabajamos constantemente para garantizar
            resultados excepcionales.
          </p>
          <br />
          <p>
            <strong>Responsabilidad</strong>
            <br />Asumimos nuestros compromisos con seriedad, siendo conscientes
            del impacto de nuestras acciones en nuestros clientes, el entorno y
            nuestro equipo.
          </p>
          <br />
          <p>
            <strong>Mejora continua</strong>
            <br /> Innovamos y aprendemos constantemente para crecer. Nos retamos
            a mejorar cada día, adaptándonos a los cambios y buscando siempre la
            excelencia.
          </p>
        </p>
      </div>
    </div>
  </section>
</Layout>
