<div class="bg-primary py-20">
  <h2 class="text-3xl font-bold text-white text-center mb-10">
    ¿Donde estamos ubicados?
  </h2>
  <iframe
    class="rounded-lg shadow-lg m-auto"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7951.540087981641!2d-75.70173484484779!3d4.809501935368536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e388744c831126b%3A0x9cd3a4c8d013ea3!2sBanco%20de%20Prueba%20JUAN!5e0!3m2!1ses!2sco!4v1750972728522!5m2!1ses!2sco"
    width="600"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
