---
---

<section
  id="blog"
  class="bg-tertiary max-md:py-10 md:p-20 flex opacity-0 flex-col gap-16 transition-opacity duration-1000"
>
  <h2 class="text-white text-5xl md:text-6xl text-center font-bold">
    Temas de interes
  </h2>
  
</section>
