---
import { Whatsapp } from "../assets/icons";
import { CustomButton } from "./ui/CustomButton";
---

<section id="cta" class="flex flex-col gap-20 py-20 px-10">
  <h2
    class="text-5xl md:text-6xl bg-[linear-gradient(to_right,var(--tw-gradient-from),var(--tw-gradient-from)_40%,var(--tw-gradient-to)_80%,var(--tw-gradient-to)_100%)] from-primary to-secondary text-transparent bg-clip-text text-center font-bold"
  >
    Llama y obtén asesoría inmediata
  </h2>
  <CustomButton
    text={`Contáctanos ahora`}
    link
    href="https://wa.me/573148851367"
    className="text-white text-2xl !py-8"
    icon={Whatsapp}
    iconClass="w-12 h-12 md:w-7 md:h-7"
  />
</section>
