---
import { CustomButton } from "./ui/CustomButton";
---

<header
  id="header"
  class="bg-[url('/images/portada/portadaMobile.avif')] sm:bg-[url('/images/portada/portadaTablet.avif')] lg:bg-[url('/images/portada/portada.avif')] bg-cover bg-no-repeat bg-top lg:bg-center h-[calc(100dvh-100px)]"
>
  <div
    class="absolute bottom-0 left-0 w-full md:w-1/2 h-[30%] flex max-md:flex-col gap-5 justify-center md:justify-around items-center px-10"
  >
    <CustomButton
      text="Contáctanos"
      className="w-full !shadow-white !shadow-xl"
      link
      href="/contact"
      target="_self"
    />
    <CustomButton
      text="Blog"
      className="w-full !shadow-white !shadow-xl"
      variant="btn-3"
      link
      href="#blog"
      target="_self"
    />
  </div>
</header>
