---
import { TopMenu } from "../components/ui/TopMenu";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/logo-circlex500.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Banco de Prueba Juan</title>
    <!-- Shoelace web components CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/themes/light.css"
    />
    
    <!-- Shoelace icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.20.1/cdn/shoelace.css"
    />

    <link rel="stylesheet" href="../styles/global.css" />
  </head>

  <body>
    <TopMenu client:load />
    <slot />
  </body>
</html>
